<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="POY_Tracking.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="POY_Tracking.My.MySettings.ToraydbConnectionString"
            connectionString="Data Source=IK-PC\SQLEXPRESS;Initial Catalog=Toraydb;Persist Security Info=True;User ID=sa;Password=tecknose4260"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <POY_Tracking.My.MySettings>
            <setting name="OpPassword" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="MasterPassword" serializeAs="String">
                <value>tecknose4260</value>
            </setting>
            <setting name="debugSet" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dirPacking" serializeAs="String">
                <value />
            </setting>
            <setting name="dirPackReports" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLConn" serializeAs="String">
                <value>Server=192.168.1.211,1433;Database=Toraydb;User ID=sa;Password=tecknose4260</value>
            </setting>
            <setting name="dirTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="dirCarts" serializeAs="String">
                <value />
            </setting>
            <setting name="dirJobs" serializeAs="String">
                <value />
            </setting>
            <setting name="chkUseSort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkUsePack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkUseEng" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkUseThai" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkUseLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dirLogs" serializeAs="String">
                <value />
            </setting>
            <setting name="scrRefresh" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="displayDays" serializeAs="String">
                <value>-7</value>
            </setting>
            <setting name="AutoPrint" serializeAs="String">
                <value>False</value>
            </setting>
        </POY_Tracking.My.MySettings>
    </userSettings>
</configuration>
